{% load static %}
<style>
    .overflow_box {
        overflow: scroll;
        display: -webkit-box;
        -webkit-line-clamp: 50;
        -webkit-box-orient: vertical;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="{%  static 'js/load.js' %}"></script>
<script src="{%  static 'js/elementCreators.js' %}"></script>
<script src="{%  static 'js/paginatorFunctions.js' %}"></script>
<script src="{%  static 'js/refreshAfterJobOrListUpdate.js' %}"></script>
<script src="{%  static 'js/updateNote.js' %}"></script>
<script src="{%  static 'js/showListSpecifier.js' %}"></script>
<script src="{%  static 'js/updateLists.js' %}"></script>
<script src="{%  static 'js/update_daily_stat.js' %}"></script>
<script src="{% static 'js/update_applied_stats.js' %}"></script>
<script src="{% static 'js/deleteJobLocation.js' %}"></script>
<script src="{% static 'js/toggleJobLocationEasyApply.js' %}"></script>
<script>
    $(document).ready(function () {
        setCookie("logged_in_user","{{ user }}");
        setCookie("list_of_jobs_endpoint","{% url "api:job-list" %}");
        setCookie("num_pages_endpoint","{% url "page_numbers" %}");
        setCookie("applied_stats_endpoint","{% url "jobs_applied_numbers" %}");
        setCookie('list_endpoint', "{% url "api:list-list" %}");
        setCookie('item_endpoint', "{% url "api:item-list" %}");
        setCookie('note_endpoint', "{% url "api:note-list" %}");
        setCookie('job_location_endpoint', "{% url "api:location-list" %}");
        setCookie('daily_stat_endpoint', "{% url "api:daily_stat-list" %}");
        browserReady();
    });
</script>
{%  if user == "" %}
    <a href="/admin/login/?next=/">Login</a>
{%  else %}
    <a href="/admin/logout/?next=/">Logout</a>
    <button onclick="clearCookies()">Clear Cookies</button>
{%  endif %}
<br><br>
{%  if user == "jace" %}
    <div style="width: 100%; overflow: hidden">
        <div style="width: 70%; float: left">
            <form method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <br><input id="media_uploads" type="file" name="linkedin_exports" multiple="multiple">
                <br><br><input type="submit" name="submit" formaction="" value="Upload Files" /><br><br><br>
            </form>
        </div>
        <div style="width: 30%; float: right" id="applied_stats"></div>
    </div>


    {%  if user != "" %}
        <label for="new_list_name">New List Name:</label><input type="text" id="new_list_name">
        <button onclick="createNewList('{% url "api:list-list" %}')">Create List</button><br>
    {%  endif %}
    <div id="delete_list"></div>
    <div id="lists_buttons"></div>
    <br><br>
    <div style="width: 100%; overflow: hidden">
        <div style="width: 70%; float: left">
            <div id="job_list_header"></div>
            <div id="job_list" class="overflow_box"></div>
            <div id="number_of_jobs"></div>
            <button onclick="goToPreviousPage()">Previous Page</button>
            <button onclick="goToNextPage()">Next Page</button><br>
        </div>
        <div style="width: 30%; float: right" id="company_info"></div>
    </div>
    <div id="daily_stat"></div>
{%  endif %}
